.featured {
  height: 100vh;
}

.featured--portrait {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--landscape {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
}

.featured--name {
  font-size: 60px;
  font-weight: bold;
}

.featured--points,
.featured--year,
.featured--seasons {
  display: inline-block;
  margin-right: 15px;
}

.featured--info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.featured--points {
  color: #46d369;
}

.featured--description {
  font-weight: 400;
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
}

.featured--buttons {
    margin-top: 15px;
}

.featured--watch__button,
.featured--list__button {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
}

.featured--watch__button:hover,
.featured--list__button:hover {
    opacity: 0.7;
}

.featured--watch__button {
  background-color: #fff;
  color: #000;
}

.featured--list__button {
  background-color: #333;
  color: #fff;
}
