.featured {
    height: 100vh;
}

.featured--portrait {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--landscape {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111, transparent);
}